DB_URI=mongodb+srv://richardanthonyiddurut_db_user:hTc6HJfe5cXXzbBI@cluster0.2xkjoug.mongodb.net/?appName=Cluster0
DB_NAME=secure_it
PORT=4001
NODE_ENV=DEVELOPMENT

EMAIL_FROM=RevNation <noreply@SecureIT.com>
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=7374426e459251
MAILTRAP_PASS=5e51ea626fd53f
MAILTRAP_API_TOKEN=Bearer 29982dd0d7a297aa7a8c529087599b9f
EMAIL_VERIFY_TTL_HOURS=24
REQUIRE_EMAIL_VERIFICATION=true
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_CREDENTIALS_PATH= 